@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');
body
{
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #01730c, #01730c, #fff);
}
.wrapper
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 10px 30px rgba(36, 158, 85,.5);
}
.wrapper h2
{
  color: #666;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.input-field
{
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.input-field input
{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #999;
}

.input-field textarea
{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #999;
  font-size: 16px;
  color: #10702e;
  font-weight: 700;
  text-transform: uppercase;
  resize: none;
}
.input-field label
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 16px;
  color: #10702e;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
}
.input-field input:focus + label
{
  top: -25px;
  font-size: 14px;
  padding: 2px 5px;
  background: #404040;
  border-radius: 4px;
}
.input-field input:valid + label
{
  top: -25px;
  font-size: 14px;
  padding: 2px 5px;
  background: #404040;
  border-radius: 4px;
}
.input-field textarea:focus + label
{
  top: -25px;
  font-size: 14px;
  padding: 2px 5px;
  background: #404040;
  border-radius: 4px;
}
.input-field textarea:valid + label
{
  top: -25px;
  font-size: 14px;
  padding: 2px 5px;
  background: #404040;
  border-radius: 4px;
}
.btn
{
  margin-top: 20px;
  background: #10702e;
  color: #fff;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.5s;
  float: right;
}
.btn:hover
{
  background: #01730c;
}
