body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #187133;
}

/* Heading nav */

.header {
  position: relative;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  padding-left: 20px;
}

.header a {
  
}
/* Helpful */
